.chatBox {
  position: absolute;
  z-index: 3;
  width: 300px;
  height: 400px;
  left: 0;
  bottom: 0;
  background-color: white;
  padding: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;
  align-content: stretch;
}

.inputArea {
  /* display: flex; */
  /* flex-direction: row; */
  height: 38px;
}

.chatSelect {
  /* Minus 20px because input will overflow otherwise */
  /* width: calc(100% - 20px);
  position: absolute;
  bottom: 5px;
  padding: 0;
  box-sizing: border-box; */
  display: inline-block;
  width: calc(100% - 20px);
}

.settings {
  position: absolute;
  z-index: 4;
}

.gear {
  position: relative;
  display: inline-block;
  top: 5px;
}

.chatSelect .Select-menu-outer {
  top: auto;
  bottom: 100%;
}
